@import "tailwindcss";

:root {
  --custom-color-primary: #eff4f6;
}

@layer utilities {
  .bg-primary {
    background-color: var(--custom-color-primary);
  }
  .text-primary {
    color: var(--custom-color-primary);
  }
}